numpy
scipy
scikit-image[data]
scikit-learn
dask
dask-labextension
zarr
bokeh
ipython
matplotlib
jupyter
notebook
napari[all]
pandas
seaborn
dask-image==0.5.0
magicgui
jupyterlab
jupyter-book
ghp-import
